<h1>Demo#index</h1>
<p>some paragraphs</p>

<%= @hadith%></br></br>
<% 
some=0
for narrator in @narrators %>

<%= some%>
<%= narrator%>
 <% some += 1 %>
</br>
<% end %>

</br>
</br>
</br>
</br>
</br>
<% 
some = 0
for r in @nounPhrases %>
<%= some%>
<%= r%>
 <% some += 1 %>
</br>
<% end %>
<p>length</p>
<%= @test%>




