
<div class="container">
	
<div class="row move-down" style="
    color:#333;position:relative; top: 150px;">
		<div class="col-lg-12" style="border-bottom: 1px solid rgb(184, 184, 184);">
			<div class="row col-lg-12 heading" style="">
				<span>
					<h3 style="color: #5B5B5B;font: 19px/1.4 &quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,&quot;Lucida Sans&quot;,Garuda,Verdana,Tahoma,sans-serif;">Sign Up</h3>
				</span>
			</div>
			
		</div>
		<div class="row col-lg-12 container">
		<%= form_for(@user) do |f| %>
			<div class="row col-lg-12 " style="margin-top:20px;">

				<div class="col-lg-4"></div>
				<div class="col-lg-4 fields">
						<div class="col-lg-6">
						<div class="">
							 	<label>First Name</label>
							</div>
							<div>
								<!--<input type="text" class="form-control" placeholder="First Name">-->
								<%= f.text_field :firstname, class: "form-control", :placeholder => 'First Name' %>
							</div>	
						</div>
						
						
					
					<div class="col-lg-6">
						<div>
							<div>
								<label>Last Name</label>
							</div>
							<div>
								<!--<input type="text" placeholder="Last Name" class="form-control">-->
								<%= f.text_field :lastname, class: "form-control", :placeholder => 'Last Name' %>
							</div>	
						</div>
						
					</div>
				</div>
				
			</div>
			
					<div class="row col-lg-12 fields">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						
						<div class="col-lg-12">
							<div class="">
							 	<label>Email</label>
							</div>
							<div>
								<!--<input type="email" placeholder="Email" class="form-control">-->
								<%= f.email_field :email, class: "form-control", :placeholder => 'Email' %>
							</div>	
						</div>	
						</div>
					</div>
					<div class="row col-lg-12 fields">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						
						<div class="col-lg-12">
							<div class="">
							 	<label>Password</label>
							</div>
							<div>
								<!--<input type="password" placeholder="Password" class="form-control">-->
								<%= f.password_field :password, class: "form-control", :placeholder => 'Password' %>
							</div>	
						</div>	
						</div>
					</div>

					<div class="row col-lg-12 " style="margin-top:20px;">

				<div class="col-lg-4"></div>
				<div class="col-lg-4 fields">
						
						
						
					
					<div class="col-lg-12">
						<div>
							<div>
								<label>Retype Password</label>
							</div>
							<div>
								<input type="password" placeholder="Retype Password" class="form-control">
							</div>	
						</div>
						
					</div>
				</div>
				<div class="col-lg-12 controls">
						
							<div class="col-lg-4"></div>
							<div class="col-lg-4" style="padding-left: 25px;padding-right: 25px;">
								<!--<button type="submit" id="lk" class="btn btn-primary" style="margin-bottom:100px;width:100%;background:skyblue;">
								
								Sign Up
							</button>-->
							<%= f.submit "Sign Up", id: "my_button", class: "btn btn-primary" %>
							
							</div>
							
							
						</div>
				
				</div>
		<% end %>
		</div>
				
			</div>
			
	


</div>	