<div class="container">
	<div class="col-lg-12" id="scrollable" style="top:150px;" >
		<div class="row col-lg-12" style="margin-left: -4px">
			<%= link_to "Add Scholar", signup_path, {:style=>'margin-bottom:10px;width: 150px;  right: 10px;
  			position: relative;', :class => "btn btn-primary"} %>
		</div>
		<% if @scholars.any? %>
			<div class="col-lg-12 narrators" style="margin-bottom: 2px">
				<div class="col-lg-8 scholar-name">
					<div class="col-lg-3">First Name</div>
					<div class="col-lg-3">Last Name</div>
					<div class="col-lg-3">Email</div>	
				</div>	
			</div>
		<% end %>
		<% @scholars.each do |scholar| %>
			<div class="col-lg-12 scholar narrators1" style="  padding-left: 23px;">
				<div class="col-lg-8 scholar-name">
					<div class="col-lg-3"><%= scholar.firstname %></div>
					<div class="col-lg-3"><%= scholar.lastname %></div>
					<div class="col-lg-3"><%= scholar.email %></div>	
				</div>
				<div class="col-lg-4 scholar-controls">
					<div class="col-lg-4 pull-right">
						<%= link_to "Delete Scholar", deleteScholar_path(:id => "#{scholar.id}"), class: "btn btn-primary pull-right" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>