<%= render "layouts/advancesearch" %>
<body>
	<%= render "layouts/start" %>
    <%= render "layouts/categoriesModal" %>
	<!--header finishes here-->
	<!--body starts here-->
	<div class="body relative">
		<div class="container">
			<%= render "layouts/chapters" %>
			<!--navigation bar finishes here-->
			<!--main content starts here-->
			<div id="mainContent" class="col-lg-9 move-down pull-right" style="top:159px;margin-top: 10px;">
				<% if @hadiths.any? %>
					<%= render "layouts/showAhadiths" %>
				<% else %>
					<%= render "layouts/empty" %>
				<% end %>
			</div>
		</div><!--main content end -->
	</div>
</body>
